.fantastic{color: blueviolet;

border: 10px; box-shadow: none;
margin-top: 20px;
font-size: larger;


}
.nice{color: rgb(181, 200, 32);

text-align: center;
font-size: 20px;
font-style: italic;
font-weight: 500;
font-size: larger;


}
.viewport{font-style: initial;} 